.UsersCardContainer {
  width: 260px;
  height: 284px;
  background: #242424;
  display: flex;
  flex-direction: column;
}

.UsersCardTop {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  span {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    background: #C4C4C4;
    margin: 0 1rem;
  }

  :last-child {
    font-weight: bold;
  }
}

.UsersCardBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  p {
    margin: 0.5rem;
  }

  button {
    width: 207px;
    height: 32px;
    background: #3D6CB9;
    color: #FFFFFF;
    font-weight: 500;

    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    position: relative;

    &:hover {
      filter: brightness(0.8);
    }
  }
}