.TodosCardContainer {
  width: 264px;
  height: 96px;
  background: #242424;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;


  span {
    width: 43.11px;
    height: 6px;

    border-radius: 5px;
  }

  .trueColor {
    background: #17B978;
  }

  .falseColor {
    background: #3D6CB9;
  }
}
